---
# The following will override anything specifying through command line
AWS:
  Profile: my-aws-profile
  Region: us-east-1
  # run: "aws iam get-user" to get your username
  Username: youremail@yourorg.com
  S3Bucket: mybucket
# If true, most operation won't trigger any AWS action, or will trigger AWS actions with "DryRun" parameter.
DryRun: false
# Used to ssh into instance.
KeyPairFile: '/Users/fake/fake.pem'

# Used for notifications
Email: 'toto@titi.tata'

Vpc:
  # default or dedicated
  Tenancy: default
  # form of x.x.x.x/xx
  CidrBlock: 192.168.0.10/24
  # usually in the form of subnet-xxxxxxxx
  SubnetId: subnet-fake
  # usually in the form of sg-xxxxxxxx
  SecurityGroupId: sg-fake

Cluster:
  # 0-45
  Slaves: 1
  # usually 1 or 2
  Supports: 1
  # Name of cluster
  Name: hpcc-v3-talented-mint
  
# Default settings applied to all type of instances (Master, Support, and Slave).
Instance:
  # Key Pair name from the region. Will be imported into instance and used when ssh into.
  KeyName: hpcc-cluster  
  # Depends on region. Best is to either check AWS documentation or try to create a simple instance with AWS Console and see the image id being used.
  # Some hints for now: us-east-1 (a) : ami-0b33d91d, us-east-2 : ami-c55673a0
  ImageId: ami-0b33d91d
  # Role to be used by EC2 instances. This is importat as resources will be downloaded using "aws" cli, which will use this role for permissions.
  IamRole: hpcc-cluster
  IamFleetRole: 'arn:aws:iam::123456789:role/aws-ec2-spot-fleet-tagging-role'
  # Valid EC2 Instance Type for region AND availability zone (!!!). Check AWS documentation for list of valid types.
  Type: t2.micro
  # Volumes
  Volumes:
    - DeviceName: /dev/xvdf
      # Size in GB
      Size: 1
      # Valid EBS Volume Type: gp2, io1, st1, etc. Check AWS documentation for exhaustive and up-to-date list of valid values.
      Type: gp2
      # Either true or false
      Encrypted: true
      # For io1 type volume must specify the following as well:
      #Iops: 1000
      # Where the device will be mounted.
      Mount: /volumes/vol-data
      # Will create a symbolic link to the mount
      MapsTo: /var/lib/HPCCSystems/hpcc-data

MasterInstance:
  Volumes:
    - DeviceName: /dev/xvdf
      Size: 10
      Type: gp2
      Encrypted: true
      Mount: /volumes/vol-data
      MapsTo: /var/lib/HPCCSystems/hpcc-data
    - DeviceName: /dev/xvdz
      Type: gp2
      # Specify SnapshotId only or Size and Encrypted for new volume
      Size: 10
      Encrypted: true
      #SnapshotId: snap-12345678901234567
      Mount: /volumes/vol-dropzone
      MapsTo: /var/lib/HPCCSystems/mydropzone
      
SlaveInstance:
  Type: t2.micro
  Volumes:
    - DeviceName: /dev/xvdf
      Size: 80
      Type: gp2
      Encrypted: true
      Mount: /volumes/vol-data
      MapsTo: /var/lib/HPCCSystems/hpcc-data
    - DeviceName: /dev/xvdg
      Size: 50
      Type: gp2
      Encrypted: true
      Mount: /volumes/vol-thor
      MapsTo: /var/lib/HPCCSystems/mythor
    - DeviceName: /dev/xvdh
      Size: 10
      Type: gp2
      Encrypted: true
      Mount: /volumes/vol-hpcc-mirror
      MapsTo: /var/lib/HPCCSystems/hpcc-mirror

SupportInstance:
  Type: t2.micro
  Volumes:
    - DeviceName: /dev/xvdf
      Size: 80
      Type: gp2
      Encrypted: true
      Mount: /volumes/vol-data
      MapsTo: /var/lib/HPCCSystems/hpcc-data