---
Vpc:
  # default or dedicated
  #Tenancy: default
  # form of x.x.x.x/xx
  CidrBlock: 192.168.0.10/24
  # usually in the form of subnet-xxxxxxxx
  SubnetId: subnet-12345678
  # usually in the form of sg-xxxxxxxx
  SecurityGroupId: sg-12345678

Cluster:
  # Type: either on-demand or spot. Default is on-demand.
  Type: on-demand
  # HPCC Platform Version (CentOS/REL6)
  Version: 6.4.22-1
  # Number of slave: 0-45
  Slaves: 1
  # Usually 1 or 2
  Supports: 1
  # Name of cluster
  Name: ${cluster_name}

# Default settings applied to all type of instances (Master, Support, and Slave).
Instance:
  # Key Pair name from the region. Will be imported into instance and used when ssh into.
  KeyName: hpcc-cluster  
  # Depends on region. Best is to either check AWS documentation or try to create a simple instance with AWS Console and see the image id being used.
  # Some hints for now: us-east-1 (a) : ami-0b33d91d, us-east-2 : ami-c55673a0
  ImageId: ami-0b33d91d
  # Role to be used by EC2 instances. This is importat as resources will be downloaded using "aws" cli, which will use this role for permissions.
  # For "spot" type cluster:
  IamRole: "arn:aws:iam::123456789012:instance-profile/hpcc-cluster"
  IamFleetRole: "arn:aws:iam::123456789012:role/aws-ec2-spot-fleet-tagging-role"
  MaxSpotPrice: 0.10
  # For "on-demand" type cluster
  IamRole: hpcc-cluster
  # Valid EC2 Instance Type for region AND availability zone (!!!). Check AWS documentation for list of valid types.
  # WARNING: EBS-Optimized types only. See https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html#ebs-optimization-support
  Type: m4.large
  # Configs to be run as part of all instances. Can be specified at the Master/Support/Slave level as well.
  ConfigSets:
    000_SECPM: https://raw.githubusercontent.com/lpezet/hpcc-cluster-cli-configsets/master/cwlogs_sec_pm.yaml 
    001_HIDS: https://raw.githubusercontent.com/lpezet/hpcc-cluster-cli-configsets/master/ossec.yaml
    002_NIDS: https://raw.githubusercontent.com/lpezet/hpcc-cluster-cli-configsets/master/snort.yaml
    003_AVM: https://raw.githubusercontent.com/lpezet/hpcc-cluster-cli-configsets/master/clamav.yaml
    100_HPCC: https://raw.githubusercontent.com/lpezet/hpcc-cluster-cli-configsets/master/hpcc.yaml
    101_HPCCSSL: https://raw.githubusercontent.com/lpezet/hpcc-cluster-cli-configsets/master/hpcc-ssl.yaml
    # Example of in-line configset
    900_XTRA:
      packages:
        rpm:
          scrub: "http://mirror.centos.org/centos/6/os/x86_64/Packages/scrub-2.2-2.el6.x86_64.rpm"
        yum:
          yum-cron-security: []
          sysstat: []
    999_cwlogs: https://raw.githubusercontent.com/lpezet/hpcc-cluster-cli-configsets/master/aws-cwlogs.yaml   
  # Volumes
  Volumes:
    - # required. NB: at least the /dev/xvda entry must be present to define root volume
      DeviceName: /dev/xvda
      # optional, default to true
      DeleteOnTermination: true
      # required if type != ephemeral. Size in GB
      Size: 8
      # optional, defaults to gp2. Valid EBS Volume Type: gp2, io1, st1, etc. Check AWS documentation for exhaustive and up-to-date list of valid values.
      # ephemeral is also possible for instance store.
      Type: gp2
      # optional, defaults to ext4. Values depend on OS but most supported ones are ext2, ext3, ext4, and xfs.
      FSType: ext4
      # optional, defaults to false. Either true or false
      Encrypted: true
      # optional, default to your AWS managed CMK.
      #EncryptionKey: alias/my-key
      # required for io1 type volume.
      #Iops: 1000
      # optional. Where the device will be mounted.
      Mount: /volumes/vol-data
      # optional. Will create a symbolic link to the mount
      MapsTo: /var/lib/HPCCSystems/hpcc-data
      # optional. If part of an array, specify array device name
      #RaidDeviceName: /dev/md0
  # RAID devices
  # NB: RAIDs on ephemeral devices has not been tested yet.
  Raids:
    - # required
      DeviceName: /dev/md0
      # required
      Name: MyRaid0
      # required
      Level: 0
      # optional, defaults to ext4. Values depend on OS but most supported ones are ext2, ext3, ext4, and xfs.
      FSType: ext4
      # required. Where the device will be mounted.
      Mount: /volumes/vol-data
      # optional. Will create a symbolic link to the mount
      MapsTo: /var/lib/HPCCSystems/hpcc-data
      
MasterInstance:
  Volumes:
    - DeviceName: /dev/xvdf
      Size: 1
      Type: gp2
      Encrypted: true
      Mount: /volumes/vol-data
      MapsTo: /var/lib/HPCCSystems/hpcc-data
    - DeviceName: /dev/xvdz
      Type: gp2
      # Specify SnapshotId only or Size and Encrypted for new volume
      Size: 1
      Encrypted: true
      #SnapshotId: snap-12345678901234567
      Mount: /volumes/vol-dropzone
      MapsTo: /var/lib/HPCCSystems/mydropzone
      
SlaveInstance:
  Type: t2.micro
  Volumes:
    - DeviceName: /dev/xvdf
      Size: 1
      Type: gp2
      Encrypted: true
      Mount: /volumes/vol-data
      MapsTo: /var/lib/HPCCSystems/hpcc-data
    - DeviceName: /dev/xvdg
      Size: 1
      Type: gp2
      Encrypted: true
      Mount: /volumes/vol-thor
      MapsTo: /var/lib/HPCCSystems/mythor
    - DeviceName: /dev/xvdh
      Size: 1
      Type: gp2
      Encrypted: true
      Mount: /volumes/vol-hpcc-mirror
      MapsTo: /var/lib/HPCCSystems/hpcc-mirror

SupportInstance:
  Type: t2.micro
  Volumes:
    - DeviceName: /dev/xvdf
      Size: 1
      Type: gp2
      Encrypted: true
      Mount: /volumes/vol-data
      MapsTo: /var/lib/HPCCSystems/hpcc-data